      {% load static %}
      
      <!-- Footer -->
      <footer  class="footer text-center text-white">
        <!-- Grid container -->
        <div class="container p-4">
          <section class="">
            <form action="">
              <!--Grid row-->
              <div class="row-hr  main-footer " >
                <!--Grid column-->
                <div class="col-auto">
                  <p class="pt-2">
                    <strong class="Follow">Follow us on :</strong>
                    <a href="https://www.instagram.com/bamper.az/"><img style="background-color: black;" class="facebook-img" src="{% static 'images/instagram-white-icon.webp' %}" alt=""></a>
                  </p>
                 
                </div>
                <div class="hr-footer">
                  
      
                </div>
                
                
                
                <!--Grid column-->
      
                <!--Grid column-->
                <div class="col-md-5 col-12">
                  
                </div>
                <!--Grid column-->
      
                <!--Grid column-->
                <div class="col-auto">
                  
                </div>
                <!--Grid column-->
              </div>
              
              <!--Grid row-->
            </form>
          
          </section>
          <!-- Section: Form -->
      
          <!-- Section: Text -->
          
          <!-- Section: Text -->
      
          <!-- Section: Links -->
          <section class="">
            <!--Grid row-->
            <div class="row footer-text ">
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0 car-text"mio >
                <h5  class="text-uppercase">Əsas</h5>
      
                <ul  class="list-unstyled ;mb-0">
                  <li>
                    <a href="./index.html#header_main_text" class="text">VIN Kod</a>
                  </li>
                  <li>
                    <a href="./index.html#title" class="text">İnformasiya</a>
                  </li>
                  <li>
                    <a href="./index.html#title2" class="text">İşlətmə qaydası</a>
                  </li>
                  <li>
                    <a href="./index.html#title3" class="text">Mağaza yarat</a>
                  </li>
                  <li>
                    <a href="./index.html#title4" class="text">Bizimlə əlaqə</a>
                  </li>
      
                  
                </ul>
              </div>
              <!--Grid column-->
      
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Mağazalar</h5>
      
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="../autopart-magazine-list-main/autopart-magazine-list.html#mainText" class="text">Mağazalar səhifələri</a>
                  </li>
                  <li>
                    <a href="../autopart-magazine-list-main/autopart-magazine-list.html#searchInput" class="text">Mağaza axrarışı</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Əlaqə</h5>
      
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="../AutoPart-Contact-Page/contact.html#map" class="text">Adress</a>
                  </li>
                  <li>
                    <a href="../AutoPart-Contact-Page/contact.html#phone" class="text">Bizimlə əlaqə</a>
                  </li>
                  <li>
                    <a href="../AutoPart-Contact-Page/contact.html#contact" class="text">Mesaj göndər</a>
                  </li>
                </ul>
              </div>
              <!--Grid column-->
      
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Haqqımızda</h5>
      
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="../index-result/aboutus.html#welcome" class="text">Tətbiq haqqında məlumat</a>
                  </li>
                  <li>
                    <a href="../index-result/aboutus.html#Driver" class="text">Faydalar</a>
                  </li>
      
                </ul>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </section>
          <!-- Section: Links -->
          
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 Copyright:
            <a class="text-white" href="">Bamper.az</a>
          </div>
        </div>
        <!-- Grid container -->
        
      
        
        <!-- Copyright -->
       
        <!-- Copyright -->
      </footer>
      <!-- Footer -->